:root {
	--bg-color: hsl(243, 48%, 16%);
	--bg-container: hsl(249, 51%, 28%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--bg-color);
	font-family: 'Nunito', system-ui;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fefbf6;
}

.contenedor {
	width: 90%;
	max-width: 900px;
}

.contenedor-lista {
	background: var(--bg-container);
	box-shadow: 0px 0px 20px rgba(149, 153, 159, 0.16);
	border-radius: 10px;
}

.contenedor-lista h1 {
	text-transform: uppercase;
	font-size: 20px;
	background: #433d8b;
	height: 100px;
	display: flex;
	align-items: center;
	padding: 40px;
	border-radius: 10px 10px 0 0;
	margin-bottom: 0;
}

.lista {
	padding: 40px;
	width: 100%;
}

.lista .persona {
	background: #17153b;
	display: grid;
	grid-template-columns: auto 1fr 1fr 1fr;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
	cursor: grab;
}

/* ? Clases para los estilos en los diferentes estados del drag and drop */
.lista .persona.sortable-chosen {
	transform: scale(1.02) rotate(-1deg);
	box-shadow: 0px 0px 20px hsla(0, 0%, 100%, 0.16);
}
.lista .persona.sortable-ghost {
	border: 4px solid #ffffff;
	transition: border 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.lista .persona.sortable-drag {
	opacity: 0;
}
/* ? ------- */

.lista .label {
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 5px;
	color: #5173cf;
}

.lista .dato {
	font-weight: bold;
	font-size: 20px;
}

.lista .persona img {
	width: 70px;
	border-radius: 100%;
	margin-right: 40px;
}
